body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.form-container {
  margin: 20px 0;
}

.form-container input {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

.form-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.results-container {
  text-align: left;
  margin-top: 20px;
}

.results-container h2 {
  margin-bottom: 10px;
}

.results-container ul {
  list-style-type: none;
  padding: 0;
}

.results-container li {
  background: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p{
  margin-top: 10px;
  font-weight: bold;
}

.error {
  color: red;
  margin-top: 10px;
}
